{
    "base-url": "http://sensu-dashboard.test",
    "sensu-config-directory": "/etc/sensu/conf.d",
    "sensu-api-base-url": "http://127.0.0.1:4567",
    "slack-channel": "#iaptus-sensors",
    "slack-url": ""
}